System Design/.vs/System Design/FileContentIndex/1bd52cfb-d6f9-4d26-93b0-b87d2666000a.vsidx
System Design/.vs/System Design/v17/.suo
System Design/SOLID Principle/obj/Debug/SOLID Principle.pdb
System Design/SOLID Principle/obj/Debug/SOLID Principle.exe
System Design/SOLID Principle/obj/Debug/SOLID Principle.csproj.FileListAbsolute.txt
System Design/SOLID Principle/obj/Debug/SOLID Principle.csproj.AssemblyReference.cache
System Design/SOLID Principle/bin/Debug/SOLID Principle.pdb
System Design/SOLID Principle/bin/Debug/SOLID Principle.exe
System Design/Singletone/obj/Debug/Singletone.pdb
System Design/Singletone/obj/Debug/Singletone.exe
System Design/Singletone/bin/Debug/Singletone.exe
System Design/Singletone/bin/Debug/Singletone.pdb
System Design/Singletone/obj/Debug/Singletone.csproj.AssemblyReference.cache
System Design/Singletone/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
System Design/Singletone/obj/Debug/Singletone.csproj.SuggestedBindingRedirects.cache
System Design/Singletone/obj/Debug/Singletone.csproj.FileListAbsolute.txt
