System Design/SOLID Principle/obj/Debug/SOLID Principle.csproj.AssemblyReference.cache
System Design/.vs/System Design/FileContentIndex/24594575-e232-46e8-92b2-c62036b0a759.vsidx
System Design/SOLID Principle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
