System Design/SOLID Principle/obj/Debug/SOLID Principle.csproj.AssemblyReference.cache
System Design/.vs/System Design/FileContentIndex/24594575-e232-46e8-92b2-c62036b0a759.vsidx
System Design/SOLID Principle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
System Design/.vs/System Design/FileContentIndex/01c7486a-ed5c-4742-9df9-0bf9567dab8c.vsidx
System Design/.vs/System Design/FileContentIndex/3e07536f-ac52-49fc-b52c-acf4a4135bd1.vsidx
